.about {
    display: flex;
    width: 23.75rem;
    height: 26.6875rem;
    color: #ffffff;
    position: absolute;
    left: 34%;
    top: 21%;
    background: #203823;
    opacity: .8;
 
}

.about-img {
    width: 146px;
    height: 146px;
}