@import "fonts.css";
@import "header.css";
@import "authorise.css";
@import "button.css";
@import "normalize.css";
@import "styles.css";


body {
    margin: 0;
    padding: 0;
    background: blue;
}


.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.container {
    width: 75rem;
    height: 43.75rem;
}


.login-container {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/photo-1454111079122-eb76eb2d5754.png );
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 14%;
    margin: auto;
  
}


